section#container.zerogrid
  .wrap-container
    article.archive-post
      .row.wrap-post
        .flex-box
          .col-1-2
            .box-image(style="background-image: url('..//img/15.jpg')")
          .col-1-2
            .box-text
              .heading
                h2
                  | Everything
                  br
                  |  About Me
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra
                  | convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim
                  | lacinia. Morbi rutrum vulputate est sed faucibus.consectetur adipiscing
                  | elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo
                  | et suscipit enim lacinia.
    article.archive-post
      .row.wrap-post
        .flex-box
          .col-1-2.f-right
            .box-image(style="background-image: url('..//img/16.jpg')")
          .col-1-2
            .box-text.text-right
              .heading
                h2
                  | Everything
                  br
                  |  About Me
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra
                  | convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim
                  | lacinia. Morbi rutrum vulputate est sed faucibus.consectetur adipiscing
                  | elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo
                  | et suscipit enim lacinia.
    article.archive-post
      .row.wrap-post
        .flex-box
          .col-1-2
            .box-image(style="background-image: url('..//img/14.jpg')")
          .col-1-2
            .box-text
              .heading
                h2
                  | Everything
                  br
                  |  About Me
              .content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra
                  | convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim
                  | lacinia. Morbi rutrum vulputate est sed faucibus.consectetur adipiscing
                  | elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo
                  | et suscipit enim lacinia.