footer
  .zerogrid
    .wrap-footer
      .row
        .col-1-3.col-footer-1
          .wrap-col
            h3.widget-title About Us
            p
              | Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit
              | vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum
              | fermentum
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              | la udantium
        .col-1-3.col-footer-2
          .wrap-col
            h3.widget-title Recent Post
            ul
              li
                a(href='#') MOST VISITED COUNTRIES
              li
                a(href='#') 5 PLACES THAT MAKE A GREAT HOLIDAY
              li
                a(href='#') PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY
              li
                a(href='#') STARTUP COMPANY&rsquo;S CO-FOUNDER TALKS ON HIS NEW PRODUCT
        .col-1-3.col-footer-3
          .wrap-col
            h3.widget-title Where to Find Us
            .row
              address
                strong AUBERGE LONDON
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Ut wisi enim
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Minim veniam 12345
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Exerci Tation
              br
              p
                strong Opening Hours:
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Mon - Fri: 9:00 - 21:00
                br
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Sat - Sun: 9:00 - 2:00
    .bottom-footer
      .bottom-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-instagram
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-google-plus
        a(href='#')
          i.fa.fa-pinterest
        a(href='#')
          i.fa.fa-vimeo
        a(href='#')
          i.fa.fa-linkedin
        a(href='#')
          i.fa.fa-youtube
      .copyright
        | Copyright @ - Designed by 
        a(href='#' title='free html5 templates') AzaZefir