header.main-header
  .zerogrid
    .row
      .col-1-3
        a.site-branding(href='index.html')
          img(src='../img/logo.png')
      .col-2-3
        #cssmenu.align-right
          ul
            li
              a(href='index.html')
                span Home
            li
              a(href='single.html')
                span About
            li.active
              a(href='archive.html')
                span Blog
            li.last
              a(href='contact.html')
                span Contacts
